<% include('includes/head') %>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial;
    }

    html, body {
        height: 100%;
        background: #101010;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        color: red;
        font-size: 8rem;
        font-weight: 100;
    }
</style>

<h1>ERROR CSRF</h1>

<% include('includes/footer') %>


